#logo {
    text-align: center;
    margin-bottom: 20px;
    white-space: nowrap;
	padding-bottom: 50px;
	
}

#logo img {
    vertical-align: middle;
    display: inline-block;
}

#logo .logo-text {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
    font-size: 45px;
	font-family: 'Roboto', sans-serif;
	
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    }

    body {
      font-family: 'Segoe UI', sans-serif;
      background-color: #F7F5FF;
      color: #372580;
      padding: 20px;
    }

    .wrapper {
      max-width: 1000px;
      margin: 0 auto;
    }

.container-columns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 550px;
  position: relative;
    margin: 0 auto 10px; 
  left: -14px;
}
.container {
	  margin: auto;
	  max-width: 220px;
      margin-bottom: 20px;
      background: #ffffff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.3s ease;
    }
.container2 {
		
	  margin: auto;
	  margin-top: 0px;
	  margin-right: -25px; /*  */
	  margin-bottom: 20px;
      background: #ffffff;
      padding: 20px;
      border-radius: 12px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	  position: relative;
	  
    }
.container-columns.karing-active {
  left: -60px;
}
.container2.karing-active {
  margin-right: -110px;

}
.Input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ADABA8;
  background-color: #ffffff;
  color: #372580;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  line-height: 20px; /* Межстрочный интервал */
  transition: height 0.2s ease; /* Плавное изменение */
  resize: vertical;
}

.Output {
	
      width: 100%;
      height: 200px;
      padding: 10px;
      border-radius: 8px;
      border: 1px solid #ADABA8;
      background-color: #ffffff;
      color: #372580;
      resize: vertical;
      box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
      transition: all 0.2s ease;
      box-sizing: border-box;
    }
textarea:focus { outline: 1px solid #6D4AFF; }
.jc {
	max-height: 20px;
	resize:none;
	margin-bottom: -4px;
}

button {
  align-items: center;
  justify-content: center;
  background: #6D4AFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  line-height: normal;
  min-height: 40px;
  width: 100%;
}
.randombtn, .randombtn2 {
  display: block;
  margin:auto;
  margin-top: 25px;
}
.custom-file-upload {
  padding: 10px 20px;
  background: #6D4AFF;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  font-family: inherit;
  font-size: inherit;
  min-height: 40px;
  width: 140px; 
  height: 40px; 
  box-sizing: border-box;
  text-align: center;
  line-height: 20px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  display: inline-block; 
}

#fileUploadLabel {
  width: 100%;
  text-align: center;
}


button:hover, .custom-file-upload:hover {
  background: #4A2DC5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    .download-btn {
	display: inline-block; 
 margin: auto;
		max-width:90%;
      background: #2196F3;
    }

    .download-btn:hover {
      background: #42a5f5;
    }

.button-container {
  text-align: center; 
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.file-list, .result {
	  margin:auto;
	  max-width: 650px;
      background: #ffffff;
      padding: 15px;
      border-radius: 10px;
      margin-top: 15px;
	  margin-bottom: 20px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      overflow: auto;
    }
.hidden, .hidden-input, .radio, br.mobile-only {
      display: none;
    }
	
h1 {
      text-align: center;
      font-weight: 600;
      font-size: 28px;
      margin-bottom: 25px;
      text-shadow: 0 1px 3px rgba(0,0,0,0.7);
    }
.radio-fakeradio {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 1.25rem;
  height: 1.25rem;
  margin: auto;
  margin-top: 10px;
  border-radius: 50%;
  border: 1px solid #adaba8; 
  background-color: #ffffff; 
  color: #0c0c14; 
  transition: 0.15s cubic-bezier(0.33, 1, 0.68, 1);
  transform: scale(0.85);
  cursor: pointer; 
}
.radio-fakeradio:before {
  content: "";
  width: 0.7142857143em;
  height: 0.7142857143em;
  border-radius: 50%;
  background: transparent;
  transform: scale(0);
  transition: 0.15s cubic-bezier(0.33, 1, 0.68, 1), 0.15s transform cubic-bezier(0.34, 1.56, 0.64, 1);
}
.radio:hover + .radio-fakeradio {
  border-color: #6d4aff;
}
.radio:checked + .radio-fakeradio:before {
  transform: scale(1);
  background-color: #6d4aff; 

}


.amnezia-icon {
max-width: 40px;
margin-bottom: -15px;
}

.infobtn {
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    width: 100%;
    max-width: 700px; 
    margin: 0 auto; 

}
#telegramButton,#BoostyButton,#githubButton,#DonationAlertsButton,#BoostyNewButton, #warpButton {
	width: 100%;
    max-width: 400px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#newButtons {
    visibility: hidden;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity 0.5s ease, height 0.5s ease, visibility 0.5s ease;
}

#newButtons.show {
    visibility: visible;
    opacity: 1;
    height: 130px;
}	

#jc1{
max-width:	23px
}
#jmax1, #jmin1
{
max-width:	30px
}

#fp1, #fps1, #fpd1 {
	max-width:	52px
}



#warpButton {
background: linear-gradient(90deg, #eeac43, #f15874)}

@media (max-width: 730px) {
	.container-columns {
    display: block;
	max-width: 65%;
	left: 0px;
}
.container-columns.karing-active {
  left: 0px;
}
.container2 {
	min-width: 260px;
	margin: 0 auto;
	left: -20px;
}

#fp1, #fps1, #fpd1 {
	max-width: 60px;
	height: 60px;
}

#jmax1, #jmin1
{
max-width:	33px
}
#jc1{
max-width:	26px
}

  br.mobile-only {
    display: block;
  }

.container2.karing-active {
  left: -60px;
  min-width: 350px;
}

}
